body{

    text-align: center;
 }

 .contenedor-vehiculos {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    
}

.vehiculo1, .vehiculo2, .vehiculo3 {
    border: 1px solid #ccc; 
    padding: 10px;
    width: 30%;
    box-sizing: border-box; 
    
}